.ns-woocommerce-info, .ns-woocommerce-error, .ns-woocommerce-message, .ns-woocommerce-warning {
	border-radius: 4px;
    margin-bottom: 20px;
    padding: 15px;
}
.ns-woocommerce-info {
	background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
}
.ns-woocommerce-error {
	background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}
.ns-woocommerce-message {
	background-color: #dff0d8;
    border-color: #d6e9c6;
	color: #2b542c;
}
.ns-woocommerce-warning {
	background-color: #fcf8e3;
    border-color: #faebcc;
    color: #8a6d3b;
}